<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
</head>
<body>
<div>
    <table border="1">
        <thead>
        <tr>
            <td>Id</td>
            <td>Department</td>
            <td>Name</td>
            <td>Surname</td>
            <td>Salary</td>
            <td>Commands</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="emp : ${employeList}">
            <td th:text="${emp.getId()}">Id</td>
            <td th:text="${emp.getDepartment()}">Department</td>
            <td th:text="${emp.getName()}">Name</td>
            <td th:text="${emp.getSurname()}">Surname</td>
            <td th:text="${emp.getSalary()}">Salary</td>
            <td>
                <a th:href="@{'remove?id=' + ${emp.getId()}}">Remove</a>
                <a th:href="@{'edit?id=' + ${emp.getId()}}">Update</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <a th:href="@{/new}">Add new employe</a>
    </div>
</div>
</body>
</html>